menu-overlay {
    transform: translateX(150%);
    transition: transform 500ms ease-in-out;
    border: 1px solid var(--black);
    @media(min-width: 1920px) {
        border-width: 5px;
    }
}

.logo-area:hover {
    color: var(--orange);
}

.lang-sel {
    border-radius: 50%;
    border: 1px solid var(--white);
    padding: 0.5rem;
}

.lang-sel:hover {
    background: var(--orange);
}

span {
    border: 1px solid var(--white);
    width: 1rem;
    height: 1px
}

.bd-black {
    border-color: var(--black);
}

.menu-btn:hover span {
    border-color: var(--orange);
}

.open {
    transform: translateX(0%);
}