@use '../../../../all-styles' as all;

:host {
    width: 100%;
    height: 13.33dvh;
    position: sticky;
    top: 0;
    left: 0;
    color: white;
    @include all.mobile {
        height: 8dvh;
    }
}

a:link, a:visited {
    color: white;
}

.content {
    @include all.fl($jc: space-between, $ai: center);
    width: 100%;
    height: 100%;
    padding: 0 72px;
    @include all.mobile {
        padding: 0 16px;
    }
}

.header-item {
    @include all.fl($jc: center, $ai: center);
    height: 42px;
    cursor: pointer;
    >img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.logo {
    @include all.fl($jc: center, $ai:center);
    width: 40px;
    height: 40px;
    cursor: pointer;
    @include all.mobile {
        width: 32px;
        height: 32px;
    }
    &::before {
        @include all.imgBefAft('/assets/icons/00_header/Logo.svg');
        opacity: 1;
        transition: opacity 300ms ease-out;
    }
    &::after {
        @include all.imgBefAft('/assets/icons/00_header/Logo-hover.svg');
        opacity: 0;
        transition: opacity 100ms ease-in 200ms;
    }
    &:hover::before {
        opacity: 0;
    }
    &:hover::after {
        opacity: 1;
    }
}

.lang-sel {
    @include all.fl($fg: 16px);
}

.lang {
    @include all.fl($jc: center, $ai: center);
    width: 32px;
    height: 32px;
    cursor: pointer;
    &::before {
        @include all.imgBefAft('/assets/icons/00_header/Toggle.png');
        opacity: 0;
        transition: opacity 300ms ease-in;
    }
    &:hover::before {
        opacity: 1;
    }
}

.lang-act {
    &::before {
        opacity: 1;
    }
    &::after {
        @include all.imgBefAft('/assets/icons/00_header/Check.png');
    }
}

.mob-menu {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    img {
        width: 100%;
        height: 100%;
    }
}

#nav-about {
    width: 105px;
    img {
        transform-origin: center top;
        transform: scaleY(0);
        transition: transform 300ms ease-in;
    }
    &:hover {
        img {
            transform: scaleY(1);
        }
    }
}

#nav-skill {
    width: 68px;
    img {
        transform-origin: left center;
        transform: scaleX(0);
        transition: transform 300ms ease-in;
    }
    &:hover {
        img {
            transform: scaleX(1);
        }
    }
}

#nav-project {
    width: 80px;
    img {
        transform-origin: left center;
        transform: scaleX(0);
        transition: transform 300ms ease-in;
    }
    &:hover {
        img {
            transform: scaleX(1);
        }
    }
}

#nav-contact {
    width: 105px;
    img {
        transform-origin: left center;
        transform: scaleX(0);
        transition: transform 300ms ease-in;
    }
    &:hover {
        img {
            transform: scaleX(1);
        }
    }
}

@media (max-width: 750px) {
    .header-item, .lang-sel {
        display: none;
    }
    .mob-menu {
        display: block;
    }
}