@use '../../../../colors' as *;

:host {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 100px;
    &:hover {
        height: auto;
    }
}

:host(.git) {
    right: 170px;
}

button {
    color: white;
    background: black;
    border: 1px solid white;
    padding: 12px 24px;
    border-bottom-width: 5px;
    border-radius: 100px;
    font-size: 22px;
    transition: transform 300ms ease border-bottom 300ms ease;
    cursor: pointer;
    &:hover {
        border-bottom-width: 1px;
        background: $highlightred;
    }
}

.inverse {
    color: black;
    background: white;
    border-color: black;
}