@use '../../../../all-styles' as all;

:host {
    @include all.fl($fd: column, $w: 100%);
}

:host(.about) {
    img {
        width: 350px;
        height: 16px;
        bottom: 16px;
        transform-origin: left center;
        animation: grow 4s linear infinite;
    }

    h1 {
        padding-bottom: 16px;
    }
}

:host(.skills) {
    img {
        width: 100%;
        height: 100px;
        top: 16px;
        transform-origin: right bottom;
        animation: turn-in 4s ease-in infinite;
    }
}

:host(.projects) {
    width: 280px;
    h1 {
        padding-bottom: 32px;
    }
    img {
        width: 100%;
        height: 32px;
        bottom: 2rem;
        transform-origin: left center;
        animation: grow 4s ease-in infinite;
    }
}

:host(.white) {
    h1, p {
        color: white;
    }
}

:host(.right) {
    p {
        text-align: right;
    }
}

p, h1 {
    display: block;
    width: 100%;
}

p {
    margin: 0;
}

img {
    position: absolute;
}

h1 {
    font-size: 64px;
    margin-bottom: 2rem;
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }
    25% {
        transform: scaleX(1);
    }
}

@keyframes turn-in {
    0% {
        transform: rotate(-90deg);
        opacity: 0;
    }
    12.5% {
        transform: rotate(0deg);
        opacity: 1;
    }
}