about-overlay {
    transform: translateY(100%);
    transition: transform 300ms ease-in-out;
    border: 1px solid var(--black);
    @media(min-width: 1920px) {
        border-width: 5px;
        @media  (min-height: 1770px) {
            width: 32rem;
        }
    }
}

.open {
    transform: translateY(0);
}

.smile {
    animation: upDown 700ms linear infinite;
}

.smile:hover {
    animation-play-state: paused;
}

@media (min-width: 1920px) {
    @media (min-height: 1760px) {
        .desc-area {
            width: 80%;
            top: 12rem;
        }
    }
    @media (min-height: 2450px) {
        .img-wrapper {
            width: 90%;
        }
    }
}

@keyframes upDown {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-25%);
    }
    100% {
        transform: translateY(0%);
    }
}