about-overlay {
    transform: translateY(100%);
    transition: transform 300ms ease-in-out;
    border: 1px solid var(--black);
    @media (min-height: 1550px) {
        width: 32rem;
        border-width: 5px;
    }
}

.open {
    transform: translateY(0);
}

.smile {
    animation: upDown 700ms linear infinite;
}

.smile:hover {
    animation-play-state: paused;
}

@media (min-height: 1650px) {
    .desc-area {
        font-size: 2rem;
        width: 80%;
        top: 6rem;
        padding: 3rem;
    }

    .smile {
        width: 3rem;
        height: 3rem;
    }

    .img-wrapper {
        width: 90%;
    }
}

@keyframes upDown {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-25%);
    }
    100% {
        transform: translateY(0%);
    }
}