.smile {
    animation: upDown 700ms linear infinite;
}

@keyframes upDown {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-25%);
    }
    100% {
        transform: translateY(0%);
    }
}