about-overlay {
    transform: translateY(100%);
    transition: transform 300ms ease-in-out;
    border: 1px solid var(--black);
    @media(min-width: 1920px) {
        border-width: 5px;
    }
}

.open {
    transform: translateY(0);
}

.smile {
    animation: upDown 700ms linear infinite;
}

.smile:hover {
    animation-play-state: paused;
}

@keyframes upDown {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-25%);
    }
    100% {
        transform: translateY(0%);
    }
}