@use '../../../all-styles' as all;

:host {
    @include all.fl($fd: column, $ai: center, $jc: center, $w: 100px, $h: 125px);
}

img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transform: scale(1);
    transition: transform 300ms linear, filter 300ms linear;
    &:hover {
        transform: scale(0.778);
        filter: grayscale(0%);
    }
}

.skill-icon-wrapper {
    @include all.fl($jc: center, $ai: center, $w: 72px, $h: 72px);
}

.skill-desc {
    color: white;
    margin-top: 8px;
    text-align: center;
}