@use '../../all-styles' as all;

.content {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    gap: 48px
}

.about-snipets {
    @include all.fl($fd: column, $ai: center, $jc: center);
}

.about-descrioption {
    @include all.fl($fd: column, $w: 100%);
    padding: 0 48px 56px 0;
}