.skill-wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 4.5rem);
    grid-template-rows: repeat(5, 3rem);
    gap: 1rem;
    place-items: center;
}

.flower {
    animation: rotate 6000ms linear infinite;
}

skills-overlay {
    transform: translateY(100%);
    transition: transform 300ms ease-in-out;
}

.open {
    transform: translateY(0);
}

.btn-overlay {
    @media (min-width: 1180px) {
        top: auto;
        bottom: 1rem;
    }
}

@media (min-width: 390px) {
    .skill-wrapper {
        grid-template-columns: repeat(4, 5rem);
        grid-template-rows: repeat(4, 4.5rem);
    }

    .skill-icon {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (min-width: 768px) {
    .skill-wrapper {
        grid-template-columns: repeat(5, 5rem);
        grid-template-rows: repeat(3, 4.5rem);
        height: auto;
    }

    .skill-icon {
        width: 3rem;
        height: 3rem;
    }
}

@media (min-width: 1024px) {
    .skill-wrapper {
        gap: 2rem;
    }
}

@media (min-width: 1280px) {
    .skill-wrapper {
        grid-template-columns: repeat(5, 5.5rem);
        grid-template-rows: repeat(3, 6rem);
    }

    .skill-icon {
        width: 4rem;
        height: 4rem;
    }
}

@media (min-height: 2000px) {
    .desc {
        font-size: 2rem;
    }

    .skill-wrapper {
        grid-template-columns: repeat(4, 10rem);
        grid-template-rows: repeat(4, 8rem);
        gap: 4rem;
    }

    .skill {
        gap: 1rem;
    }

    .skill-icon {
        width: 6rem;
        height: 6rem;
    }

    .icon-desc {
        font-size: 2rem;
    }

    .btn-overlay {
        width: 10rem;
        height: 10rem;
    }

    .learn {
        width: 4rem;
        height: 4rem;
    }
}