<div class="content h-full flex">
    <div class="content-area relative overflow-y-hidden
    w-full h-full lg:w-9/10 p-4 lg:py-8 lg:pr-0 lg:pl-28
    flex flex-col gap-4 2xl:gap-16">
        <h1 class="font-eczar
        text-[1.8rem]/[1.8rem] min-[390px]:text-[2.25rem]/[2.25rem] lg:text-[4.5rem]/[4.5rem]"
        >{{ 'skills.title' | translate }}</h1>
        <div class="desc bg-blue rounded-sm
        w-full md:w-2/3 lg:w-152 xl:w-3/4 p-2
        xl:text-[1.2rem]/[1.5rem]
        text-justify hyphens-auto">{{ 'skills.desc' | translate }}</div>
        <div class="skill-area w-full flex-1 lg:pt-0
        flex justify-center lg:justify-end items-center">
                <div class="skill-wrapper">
                @for (skill of skills; track skill.name) {
                    <div class="skill w-full h-full
                    flex flex-col justify-between items-center">
                        <div class="img-wrapper size-10
                        flex justify-center items-center">
                            <img src="assets/img/03_skills/{{ skill.img }}.png"
                            class="skill-icon w-full aspect-square object-contain"
                            [ngClass]="mobile() ? 'skill-ani' : 'skill-hover'">
                        </div>
                        <span class="icon-desc text-center xl:text[1.2rem]/[1.2rem]">{{ skill.name }}</span>
                    </div>
                }
            </div>
        </div>
        <button class="btn-overlay size-24 lg:size-32 shrink-0 rounded-full relative
        flex justify-center items-center
        md:absolute md:left-0 md:bottom-0 lg:left-8"
        (click)="openOverlayOnClick()"
        (pointerenter)="openOverlayOnHover()"
        (pointerleave)="closeOverlayOnLeave()">
            <img src="assets/img/01_hero/flower.png"
            class="flower size-full rounded-full
            absolute top-0 left-0">
            <img src="assets/img/03_skills/learn.png" 
            class="relative learn size-8 lg:size-12">
        </button>
        <div class="overlay-area w-[calc(100%-2rem)] lg:w-[calc(100%-38rem)] xl:w-[calc(100%-48rem)]
        absolute bottom-0 lg:left-42
        flex justify-center md:justify-end lg:justify-start"
        [class.open]="overlay()">
            <div class="overlay-wrapper 
            w-full max-w-100 md:w-[calc(100%-24rem)] md:max-w-none lg:w-full">
                <skills-overlay class="bg-yellow rounded-sm
                w-full p-4 lg:p-8
                flex flex-col gap-4 lg:gap-8"
                (closed)="closeOverlay()"></skills-overlay>
            </div>
        </div>
    </div>
    @if(!mobile()) {
        <section-selector class="w-1/10 h-full
        flex justify-center items-center self-center"
        [index]="2"></section-selector>
    }
</div>
