<header app-header></header>
<div class="content">
    <div class="headline">
        <app-hello></app-hello>
        <app-hero-title title="Frontend"></app-hero-title>
        <app-hero-title class="right" title="{{ 'profession' | translate }}"></app-hero-title>
        <app-portrait></app-portrait>
        <app-button description="{{ 'heroContactBtn' | translate }}" ref="/" fragment="link-contact"></app-button>
    </div>
    <app-social-media></app-social-media>
</div>
<app-mob-overlay [ngClass]="{'active':nav.overlayOpen}"></app-mob-overlay>