<div class="content flex flex-1">
    <div class="content-area relative
    w-full lg:w-9/10 h-full lg:h-[80dvh]
    p-4 lg:pt-8 lg:pr-0 lg:pb-0 lg:pl-28
    flex flex-col lg:flex-row 2xl:flex-col gap-8">
        <header class="w-full lg:w-1/2
        flex flex-col gap-8 lg:gap-16">
            <h1 class="font-eczar tx-yellow
            text-[2.5rem]/[2.5rem] lg:text-[4.5rem]/[4.5rem]"
            >{{ 'contact.title' | translate }}</h1>
            <div class="desc w-full
            flex flex-col gap-4">
                <h2 class="tx-orange font-bold
                text-[1.5rem]/[1.5rem]"
                >{{ 'contact.h2' | translate }}</h2>
                <p>{{ 'contact.header-p' | translate }}</p>
            </div>
        </header>

        <button class="btn-uparrow w-4 h-24
        absolute right-4 lg:-right-20 bottom-4 lg:bottom-0 lg:top-8
        flex items-end"
        (pointerdown)="goToHero()">
            <svg class="arrow w-4 h-8
            absolute left-0 bottom-0" viewBox="0 0 16 32">
                <path d="M8 32v-32l-8 8M8 0l8 8"/>
            </svg>
        </button>
    </div>
    @if(desktop()) {
        <section-selector
        class="w-1/10 flex justify-center items-center"
        [index]="5"></section-selector>
    }
</div>
<footer app-footer
class="w-full flex justify-center"></footer>