<div class="content flex">
    <div class="content-area
    w-full lg:w-9/10 h-full p-4 lg:pt-8 lg:pr-0 lg:pb-0 lg:pl-28
    flex flex-col lg:flex-row gap-8">
        <header class="w-full lg:w-1/2
        flex flex-col gap-8 lg:gap-16">
            <h1 class="font-eczar tx-yellow
            text-[2.5rem]/[2.5rem] lg:text-[4.5rem]/[4.5rem]"
            >{{ 'contact.title' | translate }}</h1>
            <div class="desc w-full
            flex flex-col gap-4">
                <h2 class="tx-orange font-bold
                text-[1.5rem]/[1.5rem]"
                >{{ 'contact.h2' | translate }}</h2>
                <p>{{ 'contact.header-p' | translate }}</p>
            </div>
        </header>
    </div>
</div>
