label {
    font-size: 1.5rem;
    font-weight: bold;
    @media(min-width: 1920px) {
        font-size: 3rem;
    }
}

input[type=text] {
    width: 100%;
    font-size: 1rem;
    outline: none;
    margin-top: 1rem;
    @media(min-width: 1920px) {
        font-size: 2rem;
    }
}

.lb-yellow {
    border-bottom: 1px solid var(--yellow);
}

.lb-orange {
    border-bottom-color: var(--orange);
}

.lb-red {
    border-bottom-color: var(--error);
}

.tx-red {
    color: var(--error);
}

.error::placeholder, .error-msg {
    color: var(--error);
    font-weight: bold;
    @media(min-width: 1920px) {
        font-size: 2rem;
    }
}

.small {
    font-size: 1rem;
    font-weight: normal;
}

.arrow {
    transform-origin: center top;
    animation: moveArrow 1000ms ease-in-out infinite;
}

.arrow path {
    stroke: #fff;
    stroke-width: 2;
    fill: none;
}

.btn-uparrow:hover {
    border-bottom: 2px solid var(--orange);
    path {
        stroke: var(--orange);
    }
}

@keyframes moveArrow {
    0%{
        transform: scaleY(1) translateY(0);
    }
    100%{
        transform: scaleY(2) translateY(-100%);
    }
}