<div class="content flex">
    <div class="content-area
    w-full h-full lg:w-9/10 min-h-0 
    p-4 lg:pt-8 lg:pr-0 lg:pb-16 lg:pl-28
    flex flex-col gap-8">
        <header class="w-full lg:h-28
        flex flex-col gap-8 lg:flex-row lg:items-center">
            <h1 class="font-eczar 
            text-[2.5rem]/[2.5rem] lg:text-[4.5rem]/[4.5rem]"
            >{{ 'projects.title' | translate }}</h1>
            <p class="lg:px-8 lg:flex-1 
            md:text-[1.5rem]/[1.5rem] 2xl:text-[2rem]/[2rem]">{{ 'projects.desc' | translate }}</p>
        </header>
        <div class="projects-area w-full lg:flex-1
        flex flex-col md:items-center md:flex-row 2xl:flex-col gap-8 2xl:gap-16">
            <div class="preview rounded-sm aspect-square bg-{{ projects[index()].background }}
            w-full lg:w-2/5
            px-4 lg:px-8 2xl:py-8 relative
            flex justify-center items-center">
                <img src="assets/img/04_projects/flower-{{ projects[index()].flower }}.png" 
                class="flower size-32 lg:size-36
                absolute bottom-0 left-0">
                <img src="assets/img/04_projects/{{ projects[index()].screenschot }}.png" 
                class="screenshot rounded-sm
                aspect-4/3 w-full h-full z-1
                object-contain object-center">
            </div>
            <div class="details-area
            w-full lg:w-3/5 lg:h-full lg:pt-8 
            flex flex-col justify-center">
                <project-board class="bg-cblack tx-white rounded-sm relative
                w-full lg:h-[44dvh] 2xl:h-[30dvh] p-4 lg:p-8
                flex flex-col gap-8"
                [project]="projects[index()]"></project-board>
                <nav class="w-full py-8
                flex justify-between gap-4
                font-bold">
                    <div class="prev w-1/2
                    flex justify-start gap-2 items-center">
                        <span>&lt;&lt;</span>
                        <button class="inline-block text-left
                        2xl:text-[1.5rem]/[1.5rem]"
                        (click)="prev()">{{ 'projects.prev' | translate }}</button>
                    </div>
                    <div class="right w-2/5
                    flex justify-end gap-2 items-center">
                        <button class="inline-block text-right
                        2xl:text-[1.5rem]/[1.5rem]"
                        (click)="next()">{{ 'projects.next' | translate }}</button>
                        <span>&gt;&gt;</span>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    @if(!mobile()) {
        <section-selector class="w-1/10 h-full
        flex justify-center items-center"
        [index]="3"></section-selector>
    }
</div>
