.flower {
    animation: rotate 6000ms linear infinite;
}

.preview {
    border: 1px solid var(--black);
}

nav>div:hover, nav>div:active {
    color: var(--orange);
}

@media (min-height: 2050px) {
    .projects-area {
        flex-direction: column;
    }

    .preview-wrapper {
        width: 50%;
    }

    .details-area {
        width: 75%;
        max-height: 32rem;
    }
}