.flower {
    animation: rotate 6000ms linear infinite;
}

.board img {
    animation: jump 1000ms linear infinite;
}

nav>button:hover, nav>button:active {
    color: var(--orange);
}

.overlay {
    border: 1px solid var(--color-white);
}

@keyframes jump {
    50% {
        transform: translateY(-0.5rem);
    }
    100% {
        transform: translateY(0);
    }
}