:host {
    display: block;
    background: url(/assets/img/04_projects/paper.png) center/cover no-repeat, #1d1d1d;
    width: 100%;
    height: auto;
    min-height: 100dvh;
}

.content {
    padding: 13.3dvh 72px 0 72px;
}