<header app-header [bicolor]="true"></header>
<main class="content">
    <div class="left">
        <app-back-button (click)="goBack()"></app-back-button>
    </div>
    <div class="right"></div>
    <div class="left">
        <div class="project-desc">
            <app-section-title class="about {{ project.projectClass }}" [line]="LineType.UNDERLINE" title="{{ project.name }}"></app-section-title>
            <h2>{{ 'project-section-desc' | translate }}</h2>
            <p> {{ nav.curLang == 0 ? project.desc.en : project.desc.de }}</p>
            <h2>{{ 'project-section-impl' | translate }}</h2>
            <p>{{ nav.curLang == 0 ? project.implementation.en : project.implementation.de }}</p>
            <p><b>{{ 'project-duration' | translate }}:</b> {{ nav.curLang == 0 ? project.duration.en : project.duration.de }}</p>
            <div class="skill-box">
                @for(skill of project.technics; track skill.name) {
                    <app-project-skill [skill]="skill"></app-project-skill>
                }
            </div>
        </div>
    </div>
    <div class="view-area">
        <div class="view-wrapper">
            <img src="assets/img/04_projects/{{ project.img }}">
            <app-button class="git" ref="{{ project.github }}" description="Github" [external]="true"></app-button>
            <app-button ref="{{ project.projectUrl }}" description="Live Test" [external]="true"></app-button>
        </div>
    </div>
    <div class="left"></div>
    <div class="right">
        @if (project.previous) {
            <app-next-button class="previous" desc="{{ 'project-previous' | translate }}" (click)="goPrevious()"></app-next-button>
        }
        @if (project.next) {
            <app-next-button desc="{{ 'project-next' | translate }}" (click)="goNext()"></app-next-button>
        }
    </div>
</main>