:host {
    touch-action: pan-y;
}

header {
    border-bottom: 0.5rem solid var(--blue);
    transition: background-color 300ms linear;
}

header.bg-cblack {
    border-bottom-color: var(--black);
}

header.bg-cwhite {
    border-bottom-color: var(--white);
}

.section-wrapper {
    height: 100dvh;
    overflow-y: auto;
    scrollbar-width: none;
}

.section-wrapper::-webkit-scrollbar {
    display: none;
}