img {
    animation: jump 1000ms linear infinite;
}

.overlay {
    border: 1px solid var(--color-white);
    z-index: -1;
    opacity: 0;
    transition: opacity 300ms linear;
}

.open {
    z-index: 1;
    opacity: 1;
}

@keyframes jump {
    50% {
        transform: translateY(-0.5rem);
    }
    100% {
        transform: translateY(0);
    }
}