<header class="w-full h-10
                    flex justify-between items-end">
    <h2 class="font-bold text-[2rem]/[2rem]">{{ project().name }}</h2>
    <img src="assets/img/04_projects/{{ project().icon }}.png" class="size-8 cursor-pointer lg:cursor-auto"
        (pointerdown)="openOnClick()" (pointerenter)="openOnEnter()" (pointerleave)="closeOnLeave()">
</header>
<p class="tx-blue">
    @for(skill of project().skills; track skill; let i = $index) {
    {{ skill + (i < project().skills.length - 1 ? ' | ' : '' ) }} } </p>
<p>{{ `projects.${project().langKey}-desc` | translate }}</p>
<footer class="w-full
flex flex-col gap-4 
min-[390px]:flex-row min-[390px]:justify-between 
lg:justify-start lg:gap-8">
    <a href="https://github.com/elma1989/{{ project().github }}" target="_blank"
        class="block btn-default">GitHub ➜</a>
    <a href="https://marco-elste.developerakademie.net/{{ project().url }}" target="_blank"
        class="block btn-default">Live Test ➜</a>
</footer>
<div class="overlay bg-blue rounded-sm
p-4 lg:p-8 lg:w-4/5
absolute left-4 right-0 bottom-[calc(100%+0.5rem)]
lg:right-8 lg:bottom-[calc(100%-1rem)] lg:left-auto
flex flex-col gap-4" [class.open]="overlay()">
    @if(mobile()) {
    <header class="w-full flex justify-end">
        <button class="size-8" (click)="closeOnClick()">X</button>
    </header>
    }
    <p class="h-16 lg:h-8 hyphens-auto">{{ `projects.${project().langKey}-impl` | translate }}</p>
</div>