@use '../../all-styles' as all;

:host {
    background: url(/assets/img/03_skills/skill_bg.png);
    background-size: cover;
    background-position: center bottom;
}

.content {
    @include all.fl($w: 100%, $fg: 32px);
}

.title-area {
    @include all.fl($w: 40%px);
}

.title-area.eng-small {
    @include all.fl($w: 30%px);
}

.skill-area {
    width: 40%;
}

.skill-area.eng-large {
    width: 50%;
}

.skillbox {
    @include all.fl($jc: center,  $ai: center, $fg: 40px, $w: 100%);
    flex-wrap: wrap;
    margin-top: 32px;
}
