@use '../../all-styles' as all;

:host {
    background: url('./../../../public/assets/img/03_skills/skill_bg.png');
    background-size: cover;
    background-position: center bottom;
}

.content {
    display: grid;
    grid-template-columns: 25% auto 20%;
    gap: 32px;
    padding-bottom: 200px;
}
.content.ger {
    grid-template-columns: 35% auto 20%;
}

.title-area {
    width: 100%;
}

.skill-area {
    width: 100%;
}

.skillbox {
    @include all.fl($jc: center,  $ai: center, $fg: 40px, $w: 100%);
    flex-wrap: wrap;
    margin-top: 32px;
}

.surprise-area {
    @include all.fl($jc: center, $ai: flex-end, $w: 100%, $h: 100%);
}