@use '../../all-styles' as all;

:host {
    background: url(/assets/img/03_skills/skill_bg.png);
    background-size: cover;
    background-position: center bottom;
}

.content {
    @include all.fl($w: 100%, $fg: 32px);
}

.title-area {
    @include all.fl($w: 350px);
}

.title-area.eng-small {
    @include all.fl($w: 250px);
}

.skill-area {
    width: 450px;
}

.skill-area.eng-large {
    width: 550px;
}