<div class="content" [ngClass]="{'ger':nav.curLang == 1}">
    <div class="title-area">
        <app-section-title id="link-skills" class="skills white right" [line]="LineType.CIRCLE" overline="{{ 'skillOverline' | translate }}" title="{{ 'skillHeadline' | translate}}"></app-section-title>
    </div>
    <div class="skill-area">
        <app-skill-summary></app-skill-summary>
        <div class="skillbox">
            @for (skill of ss.skills; track skill.name) {
                <app-single-skill [skill]="skill"></app-single-skill>
            }
        </div>
    </div>
    <div class="surprise-area">
        <app-peel></app-peel>
    </div>
</div>