<img src="assets/img/03_skills/Final.png" class="layer third">
<div class="layer">
    {{ 'skillPeelNote' | translate }}
    <div class="skill-icon-wrapper">
        <div class="skill-icon">
            <img src="assets/icons/03_skills/12_react.png">
            React
        </div>
        <div class="skill-icon">
            <img src="assets/icons/03_skills/13_vue.png">
            Vue.js
        </div>
    </div>
</div>
<img src="assets/img/03_skills/Transition.png" class="layer second">
<img src="assets/img/03_skills/Default.png" class="layer first">
<div class="layer font-kalam default">
    <img src="assets/img/03_skills/Arrow.png" class="arrow">
    {{ 'skillPeel' | translate}}
</div>