<header app-header class="bg-cblack
w-full h-[9dvh] lg:h-[10dvh] flex justify-center
fixed top-0 left-0"></header>
<main class="bg-cblack
w-full min-h-[calc(100dvh-52px)] pt-[9dvh] lg:pt[10dvh]
lg:pb-42
flex justify-center">
    <div class="content
    p-4 lg:px-28 py-8
    flex flex-col gap-8
    2xl:text-[2rem]/[2.5rem]">
        <a routerLink="/">⟵</a>
        <h1 class="font-eczar font-bold 
        text-[2rem]/[2rem] lg:text-[4.5rem]/[4.5rem]
        py-4">{{ 'privacy.title' | translate }}</h1>
        <h2 class="font-bold text-[3rem]/[3rem] tx-yellow"
        >{{ 'privacy.data-protection.title' | translate }}</h2>
        <h3 class="font-bold tx-yellow"
        >{{ 'privacy.data-protection.general.title' | translate }}</h3>
        <p>{{ 'privacy.data-protection.general.p-1' | translate }}</p>
        <h3 class="font-bold tx-yellow"
        >{{ 'privacy.data-protection.data-collection.title' | translate }}</h3>
        <p>{{ 'privacy.data-protection.data-collection.p-1' | translate }}</p>
        <p>{{ 'privacy.data-protection.data-collection.p-2' | translate }}</p>
        <p>{{ 'privacy.data-protection.data-collection.p-3' | translate }}</p>
        <p>{{ 'privacy.data-protection.data-collection.p-4' | translate }}</p>
        <p>{{ 'privacy.data-protection.data-collection.p-5' | translate }}</p>
        <p>{{ 'privacy.data-protection.data-collection.p-6' | translate }}</p>
        <h2 class="font-bold text-[1.5rem]/[1.5rem] 2xl:text-[3rem]/[3rem] tx-yellow"
        >{{ 'privacy.hosting.title' | translate }}</h2>
        <p>{{ 'privacy.hosting.p-1' | translate }}</p>
        <h3 class="font-bold tx-yellow"
        >{{ 'privacy.hosting.external.title' | translate }}</h3>
        <p>{{ 'privacy.hosting.external.p-1' | translate }}</p>
        <p>{{ 'privacy.hosting.external.p-2' | translate }}</p>
        <p>{{ 'privacy.hosting.external.p-3' | translate }}</p>
        <p>{{ 'privacy.hosting.external.p-4' | translate }}</p>
        <p>Developer Akademie GmbH<br/>Tassiloplatz 25<br/>81541 München</p>
        <h2 class="font-bold text-[1.5rem]/[1.5rem] 2xl:text-[3rem]/[3rem] tx-yellow"
        >{{ 'privacy.notice.title' | translate }}</h2>
        <h3 class="font-bold tx-yellow"
        >{{ 'privacy.notice.data-protection.title' | translate }}</h3>
        <p>{{ 'privacy.notice.data-protection.p-1' | translate }}</p>
        <p>{{ 'privacy.notice.data-protection.p-2' | translate }}</p>
        <p>{{ 'privacy.notice.data-protection.p-3' | translate }}</p>
        <h3 class="font-bold tx-yellow"
        >{{ 'privacy.notice.body.title' | translate }}</h3>
        <p>{{ 'privacy.notice.body.p-1' | translate }}</p>
        <p>Marco Elste<br/>Karl-Marx-Ring 5<br/>06317 Seegebiet Mansfelder Land</p>
        <p>{{ 'privacy.notice.body.p-2' | translate }}</p>
        <h3 class="font-bold tx-yellow"
        >{{ 'privacy.notice.data-processing.title' | translate }}</h3>
        <p>{{ 'privacy.notice.data-processing.p-1' | translate }}</p>
        <h3 class="font-bold tx-yellow"
        >{{ 'privacy.notice.legal-bases.title' | translate }}</h3>
        <p>{{ 'privacy.notice.legal-bases.p-1' | translate }}</p>
        <h3 class="font-bold tx-yellow"
        >{{ 'privacy.notice.receiver.title' | translate }}</h3>
        <p>{{ 'privacy.notice.receiver.p-1' | translate }}</p>
        <h3 class="font-bold tx-yellow"
        >{{ 'privacy.notice.consent.title' | translate }}</h3>
        <p>{{ 'privacy.notice.consent.p-1' | translate }}</p>
        <h3 class="font-bold tx-yellow"
        >{{ 'privacy.notice.right-to-object.title' | translate }}</h3>
        <p>{{ 'privacy.notice-right-to-object.p-1' | translate }}</p>
        <p>{{ 'privacy.notice.right-to-object.p-2' | translate }}</p>
        <h3 class="font-bold tx-yellow"
        >{{ 'privacy.notice.right-to-complain.title' | translate }}</h3>
        <p>{{ 'privacy.notice.right-to-complain.p-1' | translate }}</p>
        <h3 class="font-bold tx-yellow"
        >{{ 'privacy.notice.right-to-data-transfer.title' | translate }}</h3>
        <p>{{ 'privacy.notice.right-to-data-transfer.p-1' | translate }}</p>
        <h3 class="font-bold tx-yellow"
        >{{ 'privacy.notice.delete.title' | translate }}</h3>
        <p>{{ 'privacy.notice.delete.p-1' | translate }}</p>
        <h3 class="font-bold tx-yellow"
        >{{ 'privacy.notice.restriction.title' | translate }}</h3>
        <p>{{ 'privacy.notice.restriction.p-1' | translate }}</p>
        <ul class="list-disc pl-4">
            <li>{{ 'privacy.notice.restriction.i-1' | translate }}</li>
            <li>{{ 'privacy.notice.restriction.i-2' | translate }}</li>
            <li>{{ 'privacy.notice.restriction.i-3' | translate }}</li>
            <li>{{ 'privacy.notice.restriction.i-4' | translate }}</li>
        </ul>
        <p>{{ 'privacy.notice.restriction.p-2' | translate }}</p>
        <h2 class="font-bold text-[1.5rem]/[1.5rem] 2xl:text-[3rem]/[3rem] tx-yellow"
        >{{ 'privacy.data-collection.title' | translate }}</h2>
        <h3 class="font-bold tx-yellow"
        >{{ 'privacy.data-collection.cookies.title' | translate }}</h3>
        <p>{{ 'privacy.data-collection.cookies.p-2' | translate }}</p>
        <p>{{ 'privacy.data-collection.cookies.p-1' | translate }}</p>
        <p>{{ 'privacy.data-collection.cookies.p-3' | translate }}</p>
        <p>{{ 'privacy.data-collection.cookies.p-4' | translate }}</p>
        <p>{{ 'privacy.data-collection.cookies.p-5' | translate }}</p>
        <p>{{ 'privacy.data-collection.cookies.p-6' | translate }}</p>
        <h3 class="font-bold tx-yellow"
        >{{ 'privacy.data-collection.request.title' | translate }}</h3>
        <p>{{ 'privacy.data-collection.request.p-1' | translate }}</p>
        <p>{{ 'privacy.data-collection.request.p-2' | translate }}</p>
        <p>{{ 'privacy.data-collection.request.p-3' | translate }}</p>
        <p>{{ 'privacy.source' | translate }}<br/>
            <a href="https://www.e-recht24.de"
            class="tx-yellow hover:underline">https://www.e-recht24.de</a></p>
    </div>
</main>
<footer app-footer
class="w-full flex justify-center"></footer>