<header app-header class="
w-full h-[9dvh] lg:h-[10dvh] flex justify-center
fixed top-0 left-0 z-2"
[socialMedia]="hasSocialMedia()"
[class.bg-blue]="isBackgroundBlue()"
[class.bg-cblack]="isBackgroundBlack()"
[class.bg-cwhite]="isBackgroundWhite()"></header>
<div #sectionWrapper class="section-wrapper"
    (scroll)="onScroll()">
    <section hero class=
        "w-full h-dvh pt-[9dvh] lg:pt-[10dvh]
        flex justify-center bg-blue"
        id="hero"></section>
    <section about class=
        "w-full min-h-dvh pt-[9dvh] lg:pt-[10dvh]
        flex justify-center bg-cwhite"
        id="about"></section>
    <section skills class=
        "w-full min-h-dvh pt-[9dvh] lg:pt-[10dvh]
        flex justify-center bg-cblack"
        id="skills"></section>
    <section projects class=
        "w-full min-h-dvh pt-[9dvh] lg:pt-[10dvh]
        flex justify-center bg-cwhite"
        id="projects"></section>
    <section references class=
        "w-full min-h-dvh pt-[9dvh] lg:pt-[10dvh]
        flex justify-center bg-blue"
        id="references"></section>
    <section contact class=
        "w-full min-h-dvh pt-[9dvh] lg:pt-[10dvh]
        flex flex-col items-center bg-cblack"
        id="contact"></section>
</div>