<header app-header class="
w-full h-[9dvh] lg:h-[10dvh] flex justify-center
fixed top-0 left-0 z-1"
[class.bg-blue]="isBackgroundBlue()"
[class.bg-cblack]="isBackgroundBlack()"
[class.bg-cwhite]="isBackgroundWhite()"></header>
@if (mobile()) {
    <section hero class=
    "w-full h-dvh pt-[9dvh] lg:pt-[10dvh]
    flex justify-center bg-blue"
    id="hero"></section>
    <section about class=
    "w-full h-dvh pt-[9dvh] lg:pt-[10dvh]
    flex justify-center bg-cwhite"
    id="about"></section>
    <section skills class=
    "w-full h-dvh pt-[9dvh] lg:pt-[10dvh]
    flex justify-center bg-cblack"
    id="skills"></section>
    <section projects class=
    "w-full h-dvh pt-[9dvh] lg:pt-[10dvh]
    flex justify-center bg-cwhite"
    id="projects"></section>
    <section references class=
    "w-full h-dvh pt-[9dvh] lg:pt-[10dvh]
    flex justify-center bg-blue"
    id="references"></section>
    <section contact class=
    "w-full h-dvh pt-[9dvh] lg:pt-[10dvh]
    flex justify-center bg-cblack"
    id="contact"></section>
} @else {
    @switch (section()) {
        @case (SectionType.HERO) {
            <section hero class=
            "w-full h-dvh pt-[9dvh] lg:pt-[10dvh]
            flex justify-center bg-blue"
            id="hero"></section>
        }

        @case (SectionType.ABOUT) {
            <section about class=
            "w-full h-dvh pt-[9dvh] lg:pt-[10dvh]
            flex justify-center bg-cwhite"
            id="about"></section>
        }

        @case (SectionType.SKILLS) {
            <section skills class=
            "w-full h-dvh pt-[9dvh] lg:pt-[10dvh]
            flex justify-center bg-cblack"
            id="skills"></section>
        }

        @case (SectionType.PROJECTS) {
            <section projects class=
            "w-full h-dvh pt-[9dvh] lg:pt-[10dvh]
            flex justify-center bg-cwhite"
            id="projects"></section>
        }

        @case (SectionType.REFERENCES) {
            <section references class=
            "w-full h-dvh pt-[9dvh] lg:pt-[10dvh]
            flex justify-center bg-blue"
            id="references"></section>
        }

        @case (SectionType.CONTACT) {
            <section contact class=
            "w-full h-dvh pt-[9dvh] lg:pt-[10dvh]
            flex justify-center bg-cblack"
            id="contact"></section>
        }
    }
}
