@if (mobile()) {
    <section hero class=
    "w-full h-dvh pt-[9dvh] lg:pt-[10dvh]
    flex justify-center bg-blue"></section>
    <section about class=
    "w-full h-dvh pt-[9dvh] lg:pt-[10dvh]
    flex justify-center bg-cwhite"></section>
} @else {
    @switch (section()) {
        @case (SectionType.HERO) {
            <section hero class=
            "w-full h-dvh pt-[9dvh] lg:pt-[10dvh]
            flex justify-center bg-blue"></section>
        }

        @case (SectionType.ABOUT) {
            <section about class=
            "w-full h-dvh pt-[9dvh] lg:pt-[10dvh]
            flex justify-center bg-cwhite"></section>
        }
    }
}
