.btn-default {
    border: 1px solid var(--white);
    border-radius: 6.25rem;
    padding: 0.75rem 1.5rem;
    @media(min-width: 1920px) {
        border-width: 5px;
        font-size: 2rem;
        padding: 2rem 3rem;
    }
}

.btn-default:hover {
    background-color: var(--orange);
}

.disabled {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}

.disabled:hover {
    background-color: transparent;
    cursor: default;
}