.btn-default {
    border: 1px solid var(--white);
    border-radius: 6.25rem;
    padding: 0.75rem 1.5rem;
}

.btn-default:hover {
    background-color: var(--orange);
}

.disabled {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}

.disabled:hover {
    background-color: transparent;
    cursor: default;
}