@switch (type) {
    @case (NoteType.YELLOW) {
        <img src="/assets/img/02_about/yellow.png" class="paper">
        <div class="desc">
            <img src="/assets/icons/02_about/location.png" class="desc-icon">
            {{ desc }}
        </div>
    }
    @case (NoteType.BLUE) {
        <img src="/assets/img/02_about/blue.png" class="paper">
        <div class="desc">
            <img src="/assets/icons/02_about/relocation.png" class="desc-icon">
            {{ desc }}
        </div>
    }
    @case (NoteType.RED) {
        <img src="/assets/img/02_about/red.png" class="paper">
        <div class="desc">
            <img src="/assets/icons/02_about/remote.png" class="desc-icon">
            {{ desc }}
        </div>
    }
}