<header class="w-full flex justify-between items-center
font-bold lg:justify-center">
    <h2 class="text-[1.5rem]/[1.5rem] text-bold">{{ 'about.overlay-title' | translate }}</h2>
    @if (mobile()) {
        <button class="w-8 h-8 flex justify-center items-center font-bold"
        (pointerup)="close()">X</button>
    }
</header>
<ul class="w-full flex flex-col gap-2">
    @for(item of items; track item) {
        <li class="flex"><img src="assets/img/02_about/check.png"
            class="w-4 h-4 mr-2">{{ `about.overlay-${item}` | translate }}</li>
    }
</ul>