@use '../../../all-styles' as all;
@use '../../../colors' as *;

$handSize: 40px;

:host {
    @include all.fl();
    color: white;
    width: 237px;
    position: absolute;
    left: 0;
    top: 0;
}

img {
    width: $handSize;
    height: $handSize;
    position: absolute;
    right: $handSize;
    top: -$handSize;
    transform: translate(-100%, 0) rotate(-180deg);
    opacity: 0;
    transition: opacity 300ms ease-in, transform 300ms ease-in;
}

button {
    padding: 12px 24px;
    border: 1px solid white;
    border-radius: 100px;
    background-color: black;
    color: white;
    font-size: 22px;
    width: 163px;
    transition: width 300ms;
    &:hover {
        width: 100%;
    }
    &:hover ~ img {
        transform: translate(100%, 0) rotate(0deg);
        opacity: 1;
    }
}

.second {
    position: absolute;
    white-space: nowrap;
    overflow-x: hidden;
    left: 0;
    opacity: 0;
    transition: opacity 100ms ease-in 300ms;
    transition: width 300ms ease-in;
    z-index: 1;
    &::before {
        @include all.bgBefore;
        background: $highlightblue;
        border-radius: 100px;
        transform: scaleX(0);
        transition: transform 300ms ease-in;
    }
    &:hover::before {
        transform: scaleX(1);
    }
    &:hover {
        opacity: 1;
    }
}