<div class="content max-h-400 flex overflow-y-hidden">
    <div class="content-area relative 
    w-full h-full p-4 pb-0 
    lg:w-9/10 lg:pt-24 lg:pr-0 lg:pb-0 lg:pl-28
    flex gap-4">
        <div class="desc-area">
            <h2 class="text-[1.5rem]/[1.5rem] lg:text-[2rem]/[2rem] mb-2">{{ 'hero.greating' | translate }}</h2>
            <h1 class="text-[4.5rem]/[4.5rem] lg:text-[6rem]/[6rem] font-eczar">{{ fullName }}</h1>
            @if(!mobile() && !bigScreen()) {
                <h1 class="text-[4.5rem]/[4.5rem] lg:text-[6rem]/[6rem] font-eczar">Elste</h1>
            }
            <h2 class="text-[1.5rem]/[1.5rem] lg:text-[2rem]/[2rem]">Frontend Developer</h2>
            <button class="btn-default mt-8"
            (click)="goToContact()">{{ 'hero.btn' | translate }}</button>
        </div>
        <div class="img-area min-h-0 flex-1
        flex justify-center items-end">
            <div class="img-wrapper w-full max-w-80 lg:max-w-none h-75 lg:h-120 relative">
                <img src="assets/img/01_hero/flower.png" class="flower
                w-2/3 lg:w-3/4 aspect-square 
                object-contain object-bottom
                absolute top-0 right-0">
                <img src="assets/img/01_hero/me.png" class="portrait 
                w-full h-full object-contain object-bottom
                absolute bottom-0">
                </div>
        </div>
        <button class="
        scroll-btn size-20 absolute bottom-0 left-0 rounded-full bg-blue 
        lg:size-36 lg:left-28 lg:bottom-8
        font-bold felx justify-center items-center text-[2rem]"
        (click)="goToContact()">
        <img src="assets/img/01_hero/scroll-down.png" class="rounded-full w-full h-full absolute top-0 left-0">
        <span class="absolute top-0 left-0 w-full h-full 
        flex justify-center items-center
        text-[3rem]/[3rem]">🡓</span>
        </button>
    </div>
    @if (!mobile()) {
        <section-selector class="w-1/10 h-full flex justify-center items-center"></section-selector>
    }
</div>