<div class="content flex">
    <div class="content-area relative w-full h-full flex flex-col p-4 lg:flex-row lg:w-9/10 lg:pt-40 lg:pr-0 lg:pb-0 lg:pl-28">
        <div class="desc-area w-full h-1/2 lg:w-1/2 lg:h-full">
            <h2 class="text-[1.5rem]/[1.5rem] lg:text-[3rem]/[3rem]">{{ 'hero.greating' | translate }}</h2>
            <h1 class="text-[4.5rem]/[4.5rem] lg:text-[6rem]/[6rem] font-eczar">Marco</h1>
            <h1 class="text-[4.5rem]/[4.5rem] lg:text-[6rem]/[6rem] font-eczar">Elste</h1>
            <h2 class="text-[1.5rem]/[1.5rem] lg:text-[3rem]/[3rem]">Frontend Developer</h2>
            <button class="btn-default mt-8"
            (click)="goToContact()">{{ 'hero.btn' | translate }}</button>
        </div>
    </div>
</div>