<div class="content flex overflow-y-hidden">
    <div class="content-area relative 
    w-full h-full flex flex-col p-4 pb-0 
    lg:flex-row lg:w-9/10 lg:pt-24 lg:pr-0 lg:pb-0 lg:pl-28">
        <div class="desc-area w-full lg:w-1/2 lg:h-full">
            <h2 class="text-[1.5rem]/[1.5rem] lg:text-[2rem]/[2rem] mb-2">{{ 'hero.greating' | translate }}</h2>
            <h1 class="text-[4.5rem]/[4.5rem] lg:text-[6rem]/[6rem] font-eczar">{{ fullName }}</h1>
            @if(!mobile()) {
                <h1 class="text-[4.5rem]/[4.5rem] lg:text-[6rem]/[6rem] font-eczar">Elste</h1>
            }
            <h2 class="text-[1.5rem]/[1.5rem] lg:text-[2rem]/[2rem]">Frontend Developer</h2>
            <button class="btn-default mt-8"
            (click)="goToContact()">{{ 'hero.btn' | translate }}</button>
        </div>
        <div class="img-area 
        w-full flex-1 lg:w-1/2 lg:h-full relative
        flex justify-center">
            <img src="assets/img/01_hero/flower.png" class="flower
            size-96 lg:w-lg lg:h-128
            absolute lg:bottom-0 2xl:bottom-96">
            <img src="assets/img/01_hero/me.png" class="portrait 
            w-full max-w-100 absolute bottom-0">
        </div>
        <button class="
        scroll-btn w-20 h-20 absolute bottom-4 left-4 rounded-full bg-blue 
        lg:w-36 lg:h-36 lg:left-28 lg:bottom-8
        font-bold felx justify-center items-center text-[2rem]"
        (click)="goToContact()">
        <img src="assets/img/01_hero/scroll-down.png" class="rounded-full w-full h-full absolute top-0 left-0">
        <span class="absolute top-0 left-0 w-full h-full flex justify-center items-center">⬇</span>
        </button>
    </div>
    @if (!mobile()) {
        <section-selector class="w-1/10 h-full flex justify-center items-center"></section-selector>
    }
</div>