.scroll-btn {
    img {
        animation: rotate 6000ms linear infinite;
    }
    @media (min-width: 1024px) {
        left: 7rem;
    }
    @media (min-width: 1024px) and (max-height: 729px) {
        left: 22rem;
    }
}

@media (min-width: 1920px) and (max-height: 1400px) {
    .content-area {
        flex-direction: row;
    }
    .desc-area {
        width: 50%;
    }
}

@media (min-width: 1920px) and (max-height: 1180px) {
    .scroll-btn {
        display: none;
    }
}