@mixin fl ($jc: flex-start, $ai: flex-start, $fd: row, $fg: 0) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    gap: $fg;
}

@mixin imgBefAft ($img) {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url($img);
    background-size: cover;
    background-position: center;
}

@mixin bgBefore {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}