@import 'tailwindcss';
@import '../public/assets/styles/fonts.css';
@import '../public/assets/styles/colors.css';

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font: 16px Quicksand;
    color: var(--white);
}

.content {
    width: 100%;
    max-width: 1920px;
    height: 100%;
}