@import 'tailwindcss';
@import '../public/assets/styles/fonts.css';
@import '../public/assets/styles/colors.css';
@import '../public/assets/styles/buttons.css';
@import '../public/assets/styles/keyframes.css';

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font: 16px Quicksand;
    color: var(--white);
}

button, input[type=submit] {
    cursor: pointer;
}

mark {
    background: none;
    color: var(--yellow);
}
.content {
    width: 100%;
    max-width: 1920px;
    height: 100%;
}