@use './all-styles' as all;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    position: relative;
}

@font-face {
    font-family: Bricolage;
    src: url(/assets/fonts/Bricolage-Regular.ttf);
}

@font-face {
    font-family: Bricolage;
    src: url(/assets/fonts/Bricolage-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Kalam;
    src: url(/assets/fonts/Kalam-Bold.ttf);
}

html {
    font: 10px Bricolage;
}

body {
    font-size: 20px;
}

header, section {
    @include all.fl($fd: column, $ai: center);
}

p {
    margin-bottom: 2rem;
}

.font-kalam {
    font-family: Kalam;
}

.content {
    width: 100%;
    max-width: 1920px;
    height: 100%;
}

section .content {
    padding: 72px;
    @include all.mobile {
        padding: 16px;
    }
}