@if(mobile()) {
    <div class="btn-wrapper w-full flex justify-end">
        <button class="size-8 font-bold"
        (click)="close()">X</button>
    </div>
}
<header class="w-full text-center font-bold text-[1.5rem]/[2rem]"
>{{ 'skills.overlay-title' | translate }}</header>
<p class="w-full text-justify">{{ 'skills.overlay-desc' | translate }}</p>
<footer class="w-full flex justify-center gap-10">
    @for(skill of skills; track skill.name) {
        <div class="skill w-12 h-16
        flex flex-col justify-between items-center">
            <img src="assets/img/03_skills/{{ skill.img }}.png"
            class="size-10">
            <span>{{ skill.name }}</span>
        </div>
    }
</footer>