.reference {
    border: 1px solid var(--white);
}

.hover-flower {
    transition: opacity 300ms ease-in-out;
}

.reference:hover .hover-flower-hover {
    opacity: 1;
}

@media (min-height: 1400px) {
    h1 {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

    h2{
        font-size: 3rem;
        line-height: 4rem;
    }

    .reference {
        border-width: 5px;
    }
}