@use '../../../all-styles' as all;

:host {
    @include all.fl($fd: column, $ai: center);
    width: 100%;
    height: 80dvh;
    position: fixed;
    left: 0;
    top: 0;
    background: url(/assets/img/01_hero/bg.png);
    background-size: cover;
    background-position: center top;
    color: white;
    transform: translate(0, -100%);
    transition: transform 500ms ease-in;
}

:host(.active) {
    transform: translate(0,0);
}

a:link, a:visited {
    color: white;
}

nav {
    @include all.fl($fd: column, $ai:center, $jc: space-between);
    width: 100%;
    height: 55%;
}